<h1>Consoles</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Manufacturer</th>
  </tr>
  <% for console in @console %>
  <tr>
    <td><a href="/consoles/<%= console.id %>"><%= console.name %></a></td>
    <td>|</td>
    <td><%= console.manufacturer %></td>
  </tr>
  <% end %>
</table>
