body {
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
  font-family: 'OCR A Std, monospace';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 1.8em;
  color: white;
  margin-bottom: 20px;
}

a, a:link, a:visited {
  color: black;
}

a:hover, a:active, a:focus {
  color: #black
}

nav {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
}

nav ul li {
  margin-bottom: 15px;
  text-transform: uppercase;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

main {
  padding: 25px;
}

.flex--row {
  flex-direction: row;
}
