<form method="post" action="/games<% @game.id %>">
  <label for="update">Title:</label>
  <select name="title" id="id">
    <option
    value="Title"
    <%= "selected" if @game.id == "title" %>
    ></option>
  </select>

  <input type='submit' value="Update Game">
</form>
