<form method="post" action="/games">
  <label for="title-field">Title:</label>
  <input
  type="text"
  name="title"
  id="title-field"
  />

<label for="platform">Platform:</label>
<select name="platform" id="platform-selection">
  <option value="PS4">PS4</option>
  <option value="Xbox One">Xbox One</option>
  <option value="Switch">Switch</option>
</select>

<form method="post" action="/game">
  <label for="selling-price-field">Selling Price:</label>
  <input
    type="number"
    name="selling_price"
    id="seling-price-field"
    />

<form method="post" action="/game">
  <label for="buying-cost-field">Buying Cost:</label>
  <input
  type="number"
  name="buying_cost"
  id="buying-cost-field"
  />

  <label for="developer-field">Developer:</label>
  <input
  type="text"
  name="developer"
  id="developer-field"
  />

<form method="post" action="/game">
  <label for="stock-field">Stock:</label>
  <input
  type="number"
  name="stock"
  id="stock-field"
  />

  <input type="submit" value="Add Game">
 </form>
